.app{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 600px;
    min-width: 890px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    @media (max-width:600px) {
        flex-direction: column;
        justify-content: flex-start;
        min-width: 350px;
        @media (max-height:750px) {
            zoom: 90%;
            min-height: 800px;
        }
    }
   
}

.main,header{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.19);
    z-index: 0;

}

#background-design{
    position: fixed;
    width: 2533px;
    height: 955px;
    border-radius: 50%;
    left: -422px;
    top: -578px;
    background: #C7ACDA;
    z-index: -10;
    @media (max-width:600px) {
        display: none;
    }
}
