header{
    position: relative;
    height: 550px;
    width: 25%;
    min-width: 335px;
    padding: 40px;
    color: white;
    background-color: #77230e;
    background-image: url('../assets/background.jpg');
    background-size:cover ;
    background-position: center;

    @media (max-width:600px) {
        height: 25%;
        width: 100%;
        padding: 18%;
    }
}


