.main{
    background-color:white;
    height: 550px;
    width: 30%;
    padding: 40px;
    min-width: 385px;
    

    @media (max-width:640px) {
        height: 70%;
        width: 100%;
        padding: 40px 10%;
    }

    form{
        h2{
            margin: 0;
        }
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section>input{
        width: 100%;
        height: 35px;
        padding-left:10px;
        box-sizing: border-box;
    }


    section{
        position: relative;
        h3{
            margin:10px 0 5px 0;
            font-size: 16px;
        }
        div{
            display: flex;
            justify-content: space-between;
            label{
                width: 50%;
                margin: 5px;
            }
        }
    }

}

.d-o-b{
    div{
        label{
            display: flex;
            flex-direction: column;
            position: relative;
            color: grey;
            margin: 5px 0;
            select,input{
                height: 35px;
                font-size: 1.1rem;
                text-indent: 5px;
                box-sizing: border-box;
                color: grey;
                border: 2px solid rgba(128, 128, 128, 0.527);
                background-color: white;
            }
        }
        label:nth-child(1){
            width: 25%;
        }
        label:nth-child(2){
            margin:5px 10px;
        }
    }
}

.required::after{
    content:'*';
    font-size: .8rem;
    margin-left:5px;
    color: red;
}
.optional::after{
    content:'(optional)';
    font-size: .6rem;
    margin-left:5px;
}


.visible{
    & ~ input{
        border:2px solid red;
    }
}
.hidden{
    visibility: hidden;
     & ~ input{
        border: 2px solid grey;
    }
}

.alert {
    position: absolute;
    width: 110px;
    font-size: .7rem;
    right: -120px;
    height: 35px;
    padding:.3rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    background-color: red;

    @media (max-width:640px) {
        top:75px;
        left: 0px;
        width: auto;
        max-width:fit-content;
        height: auto;
     }

}
.alert::after{
    content: 'V';
    position: absolute;
    font-weight: bolder;
    text-shadow:1px 1px 1px red;
    left: -4px;
    top:0px;
    color: red;
    transform: rotate(90deg);

    @media (max-width:640px) {
        left:5px;
        top:-7px;
        transform: rotate(180deg);
    }
}

.submit-button{
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    background: #2D9CDB;
}
